<h1>All Stations</h1>

<% @stations.each do |station| %>
<p>Station: <%= station.name %></p></br>
<p>Dock count: <%= station.dock_count %></p><br>
<p>City: <%= station.city %></p><br>
<p>Installation date: <%= station.installation_date %></p><br>
<% end %>
